<form action="/gallery" method="POST">

  <label for="author">Author:</label>
  <input type="text" name="author" id="author" value="{{Author}}"> 

  <label for="link">Link:</label>
  <input type="text" name="link" id="link" value="{{Link}}">

  <label for="description">Description:</label>
  <input type="text" name="description" id="description" value="{{Description}}"> 


  <button type="submit">Submit Form</button>
</form>

<a href="/">Back to Galleries Listing</a>