<header>
  <a href="/">
    <img id="header_logo" src="/assets/logo.jpg">
  </a>
  <div id="header_text">Welcome to our online portfolio, we are a small group of passtionate designers and architects, looking to change and create
    amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme</div>
</header>