 {{>header}}
<div id="gallery_entry_container">
  {{#each gallery}}
  <div class="gallery_item">
    <a class="gallery_item_picture" href="/gallery/{{id}}">
      <img src="{{link}}">
    </a>
    <div class="gallery_item_author">{{author}}</div>
    <div class="gallery_item_description">{{description}}</div>
  </div>
  {{/each}}
</div>