 {{>header}}
<div id="gallery_entry_container">
  {{#each gallery}}
  <div class="gallery_item">
    <img class="gallery_item_picture" src="{{link}}">
    <div class="gallery_item_author">{{author}}</div>
    <div class="gallery_item_description">{{description}}</div>
  </div>
  {{/each}}
</div>