 {{>header}}

<div class="gallery_container">
  {{#each gallery}}
  <div class="gallery_item">
    <div class="gallery_item_author">{{author}}</div>
    <img src="{{link}}" alt="{{link}}">
    <div class="gallery_item_description">{{description}}</div>
  </div>
  {{/each}}
</div>