{{>header}} {{#each gallery}}
<div class="gallery_item">
  <div class="gallery_item_picture"></div>
  <div class="gallery_item_author">{{gallery.author}}</div>
  <div class="gallery_item_link">{{gallery.link}}</div>
</div>
{{/each}}