{{>header}} {{#each gallery}}
<div class="gallery_item">
  <div class="gallery_item_picture"></div>
  <div class="gallery_item_author">{{author}}</div>
  <div class="gallery_item_link">{{link}}</div>
</div>
{{/each}}