<div id="gallery_container">
  {{#each gallery}}
  <a class="gallery_item" href="/gallery/{{id}}">
    <img class="gallery_item_picture" src="{{link}}">
    <div class="gallery_item_author">{{author}}</div>
    <div class="gallery_item_description">{{description}}</div>
  </a>
  {{#isThird @index}}
  <div class='line_seperator'></div>{{/isThird}} {{/each}}
</div>