 {{>header}}

<div class="gallery_container">
<div class="gallery_item">
  <div class="gallery_item_author">{{author}}</div>
  <div class="gallery_item_picture">{{link}}</div>
  <div class="gallery_item_description">{{description}}</div>
</div>
</div>