body {
  margin: 0;
  padding: 0; }

header {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 80vw;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-top: 1px solid #dddddd; }
  header a {
    justify-self: center;
    align-self: center;
    width: 100%; }
    header a #header_logo {
      width: 100%;
      box-sizing: border-box;
      padding: 16px;
      object-fit: cover;
      justify-self: center;
      align-self: center;
      object-position: center;
      object-fit: cover;
      position: relative;
      top: 10px; }
  header #header_text {
    margin: 16px 0px;
    padding: 0 16px;
    justify-self: center;
    align-self: center;
    border-left: 1px solid #dddddd;
    color: #c7c7c7;
    font-family: arial, verdana, georgia; }

#gallery_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  margin: auto; }
  #gallery_container a:nth-child(1) {
    flex-basis: 100%; }
    #gallery_container a:nth-child(1) .gallery_item_picture {
      height: 400px; }
    #gallery_container a:nth-child(1) :not(.gallery_item_picture) {
      display: none; }
  #gallery_container a {
    text-decoration: none; }
  #gallery_container .gallery_item {
    margin: 8px;
    flex: 0 1 31%;
    overflow: hidden; }
    #gallery_container .gallery_item .gallery_item_picture {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center; }
    #gallery_container .gallery_item :not(.gallery_item_picture) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      color: #c7c7c7;
      font-family: arial, verdana, georgia; }
  #gallery_container .line_seperator {
    background: #dddddd;
    height: 1px;
    width: 100%;
    margin: 16px 8px; }

#gallery_entry_container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  margin: auto;
  width: 80vw; }
  #gallery_entry_container #gallery_main_entry {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%; }
    #gallery_entry_container #gallery_main_entry .gallery_item {
      grid-column-start: 2;
      grid-column-end: auto;
      grid-row-start: auto;
      grid-row-end: auto;
      margin: 1vw;
      overflow: hidden;
      color: #c7c7c7;
      font-family: arial, verdana, georgia; }
      #gallery_entry_container #gallery_main_entry .gallery_item .gallery_item_picture {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center; }
      #gallery_entry_container #gallery_main_entry .gallery_item :not(.gallery_item_picture) {
        overflow: hidden;
        width: 100%; }
  #gallery_entry_container .gallery_sidebar_item {
    grid-column-start: 2;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    margin: 1vw;
    overflow: hidden;
    color: #c7c7c7;
    font-family: arial, verdana, georgia; }
    #gallery_entry_container .gallery_sidebar_item .gallery_item_picture {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center; }
    #gallery_entry_container .gallery_sidebar_item :not(.gallery_item_picture) {
      overflow: hidden;
      display: -webkit-box;
      width: 100%;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    width: 1200px; }
    header a {
      width: 85%; }
  #gallery_container {
    width: 1200px; }
  #gallery_entry_container {
    width: 1200px; } }

@media only screen and (max-width: 860px) and (min-width: 600px) {
  header {
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border: none; }
    header #header_text {
      display: none; }
  #gallery_container {
    width: 90vw; }
    #gallery_container .gallery_item {
      flex: 0 1 47%; }
  #gallery_entry_container {
    width: 90vw; } }

@media only screen and (max-width: 600px) {
  header {
    display: grid;
    grid-template-columns: 100%;
    width: 100vw;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border: none; }
    header #header_text {
      display: none; }
  #gallery_container {
    width: 100vw; }
    #gallery_container .gallery_item {
      flex: 0 1 100%; }
    #gallery_container .line_seperator {
      display: none; }
  #gallery_entry_container {
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    #gallery_entry_container #gallery_main_entry {
      grid-column-start: 1;
      grid-column-end: auto;
      grid-row-start: auto;
      grid-row-end: auto; }
    #gallery_entry_container .gallery_sidebar_item {
      display: none; } }
